@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 253, 253);
}

code {
  font-family:
   "Jost", sans-serif;
   font-optical-sizing: auto;
   font-weight:
   weight;
   font-style: normal;
}
 ul,li {
  border: none;
  list-style: none;
 }
